<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container">
		<div class="blog-header">
			<h3 class="blog-title">device 添加</h3>
		</div>

		<div class="row">

			<div th:fragment="deviceForm">

				<form id="deviceForm"  class="form-horizontal">
					<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
               <div class='form-group col-lg-12'> 
						<label for='deviceType' class='col-sm-2 control-label'>deviceType</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='deviceType' id='deviceType' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='deviceRoom' class='col-sm-2 control-label'>deviceRoom</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='deviceRoom' id='deviceRoom' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='deviceRoomSn' class='col-sm-2 control-label'>deviceRoomSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='deviceRoomSn' id='deviceRoomSn' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='location' class='col-sm-2 control-label'>location</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='location' id='location' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='locationSn' class='col-sm-2 control-label'>locationSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='locationSn' id='locationSn' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='seat' class='col-sm-2 control-label'>seat</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='seat' id='seat' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='seatSn' class='col-sm-2 control-label'>seatSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='seatSn' id='seatSn' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='ip' class='col-sm-2 control-label'>ip</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='ip' id='ip' />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-10 col-sm-2">
							<input type="button" class="btn btn-success" value="保存" onclick='save()' />
						</div>
					</div>
				</form>




			</div>
			<!-- /.blog-main -->


		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/device.js"></script>
<script th:inline="javascript">

</script>


</html>