<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>

	<input type="hidden" id="currentObjId" th:value="${id}" />



	<div class="container">


		<div class="row">

			<div class="col-sm-9 blog-main">

				<div class="blog-post">
					<h2 class="blog-post-title">device show</h2>
					<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
					<hr />

                     <div>  
                         <span class='label label-default'>deviceType</span> 
                          <p id='deviceType'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>deviceRoom</span> 
                          <p id='deviceRoom'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>deviceRoomSn</span> 
                          <p id='deviceRoomSn'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>location</span> 
                          <p id='location'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>locationSn</span> 
                          <p id='locationSn'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>seat</span> 
                          <p id='seat'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>seatSn</span> 
                          <p id='seatSn'></p>	
                     </div> 
                     <div>  
                         <span class='label label-default'>ip</span> 
                          <p id='ip'></p>	
                     </div> 


				</div>
				<!-- blog-post -->
				<div class="form-group">
					<div class="col-sm-offset-8 col-sm-4">
						<a type="button" class="btn btn-success" th:href="@{'/device/indexView'}">返回列表</a>
						<a type="button" class="btn btn-info" th:href="@{'/device/editView?id='+${id}}">编辑</a>

					</div>
				</div>
			</div>
			<!-- blog-main -->
		</div>
		<!-- row -->


	</div>
	<!-- /.container -->
</body>
<script type="text/javascript" src="/static/pms/js/device.js"></script>
<script th:inline="javascript">
	show();
</script>

</html>