<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

      layout:decorate="layout/layout"
      >
<head th:fragment="head">
    <meta charset="utf-8"/>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="shortcut icon" type="image/x-icon" href="/static/logo.ico"  />

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet"
          href="/static/pms/bootstrap-3.4.1-dist/css/bootstrap.min.css"/>

    <link rel="stylesheet"
          href="/static/pms/bootstrap-3.4.1-dist/css/bootstrap-theme.css"/>
    <link rel="stylesheet"
          href="/static/pms/layout.css"/>





    <script type="text/javascript"
            src="/static/pms/bootstrap-3.4.1-dist/js/jquery-1.12.4.min.js"></script>

    <script type="text/javascript"
            src="/static/pms/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/pms/utils/util.js"></script>
    <script type="text/javascript"
            src="/static/pms/bootstrap-paginator.js"></script>





    <title>盐城迈优 MIYO</title>

</head>
<body>
<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"
     th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span> <span
                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/sales/indexView}">首页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                <li id="nav_deviceCenter"  ><a th:href="@{/deviceCenter/indexView}">硬件管理</a></li>
                <li id="nav_subProject"  ><a th:href="@{/subProject/indexView}">子系统管理</a></li>
                <li id="nav_subService"  ><a th:href="@{/subService/indexView}">微服务管理</a></li>
                <li id="nav_subApi"  ><a th:href="@{/subApi/indexView}">服务治理</a></li>
                <li id="nav_serviceAdmin"  ><a th:href="@{/serviceAdmin/indexView}">服务管理</a></li>
                <li id="nav_confComm"  ><a th:href="@{/confComm/indexView}">配置管理</a></li>
<!--                <li id="nav_sysBu"><a th:href="@{/sysBu/indexView}">BU管理</a></li>-->
<!--                <li id="nav_sysUser"><a th:href="@{/sysUser/indexView}">人员配置</a></li>-->
<!--                <li id="nav_sysPermission"><a th:href="@{/sysPermission/indexView}">权限</a></li>-->
<!--                <li id="nav_subPorject"><a th:href="@{/subPorject/indexView}">子系统</a></li>-->



<!--                <li id="nav_part" ><a th:href="@{/part/indexView}">零件管理</a></li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right"  >
                <li>

                </li>
                <li class="active"><a th:href="@{/user/showView}">个人中心
                    <span class="sr-only">(current)</span>
                </a></li>
                <li><a th:href="@{/logout}">退出</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">

                <li   ><a th:href="@{/login}">登录</a></li>
            </ul>
        </div>

        <!--/.nav-collapse -->
    </div>




</nav>


<div class="sidebar-offcanvas"  th:fragment="deviceCenter_sidebar">
    <span>机房管理</span>
    <div class="list-group">
        <a  href="/deviceCenter/indexView?deviceType=center" class="list-group-item">数据中心</a>
        <a  href="/deviceCenter/indexView?deviceType=room" class="list-group-item">机房</a>
        <a  href="/deviceCenter/indexView?deviceType=rack" class="list-group-item">机柜</a>

    </div>
    <span>设备管理</span>
    <div class="list-group">
        <a  href="/device/indexView?deviceType=physical" class="list-group-item">物理机</a>
        <a  href="/device/indexView?deviceType=virtual" class="list-group-item">虚机</a>
        <a  href="/device/indexView?deviceType=pks" class="list-group-item">容器</a>
    </div>
</div>



<div class="sidebar-offcanvas"  th:fragment="device_sidebar">
    <div class="list-group" >
        <a  href="/device/indexView?deviceType=dc" class="list-group-item">机房城市管理</a>
        <a  href="/device/indexView?deviceType=room" class="list-group-item">机房区域管理</a>
        <a  href="/device/indexView?deviceType=rack" class="list-group-item">机柜管理</a>
        <a  href="/device/indexView?deviceType=物理机" class="list-group-item">服务器管理</a>
        <a  href="/device/indexView?deviceType=虚机" class="list-group-item">虚机管理</a>
        <a  href="/device/indexView?deviceType=容器pks" class="list-group-item">容器管理</a>
    </div>
</div>



<div class="sidebar-offcanvas"  th:fragment="project_sidebar">
    <div class="list-group" id ="device_project">
        <a  href="/user/updateProfile" class="list-group-item">子系统</a>
        <a  href="/consignee/indexView" class="list-group-item">数据库</a>
        <a  href="/user/updatePasswd" class="list-group-item">nosql&缓存</a>
        <a  href="/user/updatePasswd" class="list-group-item">大数据</a>
        <a  href="/user/updatePasswd" class="list-group-item">mq</a>
        <a  href="/user/updatePasswd" class="list-group-item">网关</a>
        <a  href="/user/updatePasswd" class="list-group-item">其他中间件</a>
    </div>
</div>
<div class="sidebar-offcanvas"  th:fragment="subApi_sidebar">
    <div class="list-group" >
        <a  href="/device/indexView?deviceType=dc" class="list-group-item">子系统</a>
    </div>
</div>

<div class="sidebar-offcanvas"  th:fragment="confComm_sidebar">
    <div class="list-group">
        <a  href="/confComm/indexView?clsType=ptype&subType=ptype" class="list-group-item">种类配置</a>
        <a  href="/confComm/indexView?subType=biz" class="list-group-item">子系统</a>
        <a  href="/confComm/indexView?subType=db" class="list-group-item">数据库</a>
        <a  href="/confComm/indexView?subType=nosql" class="list-group-item">nosql&缓存</a>
        <a  href="/confComm/indexView?subType=bigData" class="list-group-item">大数据</a>
        <a  href="/confComm/indexView?subType=mq" class="list-group-item">mq</a>
        <a  href="/confComm/indexView?subType=gateway" class="list-group-item">网关</a>
        <a  href="/confComm/indexView?subType=devops" class="list-group-item">运维工具</a>
        <a  href="/confComm/indexView?subType=middleware" class="list-group-item">其他中间件</a>
    </div>
</div>
<div class="sidebar-offcanvas"  th:fragment="serviceAdmin_sidebar">
    <div class="list-group">
        <a  href="/confComm/indexView?clsType=ptype&subType=ptype" class="list-group-item">注册中心</a>
        <a  href="/confComm/indexView?subType=biz" class="list-group-item">mq</a>
        <a  href="/confComm/indexView?subType=db" class="list-group-item">数据库</a>

    </div>
</div>



</body>

<script th:inline="javascript">
    setActive("nav_home", null)


</script>
</html>
