<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
    <meta charset="UTF-8">
    <title>App Layout</title>
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
</head>
<body>
<div class="container-scroller">
    <nav th:replace="fragments/navbar :: navbar"></nav>
    <div class="container-fluid page-body-wrapper">
        <nav th:replace="fragments/sidebar :: sidebar"></nav>
        <div class="main-panel">
            <div class="content-wrapper">
                <h1>Welcome to the App</h1>
                <p>这里是主内容区域。</p>
            </div>
        </div>
    </div>

    <footer th:replace="fragments/footer :: footer"></footer>
</div>
</body>
</html>
