.admin-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-wrapper {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.sidebar-menu {
    width: 220px !important;
    height: 100%;
    transition: width 0.3s;
    background-color: #304156;
}

.content-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f0f2f5;
}

.el-menu {
    border-right: none !important;
}

.el-menu--collapse .el-sub-menu__title span {
    display: none;
}