<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">My App</title>
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
<!--    <script th:src="@{/js/scripts.js}"></script>-->

    <link rel="stylesheet" th:href="@{/css/materialdesignicons.min.css}">
    <link rel="stylesheet" th:href="@{/css/vendor.bundle.base.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- 其他需要的 meta 标签或样式 -->
    <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap4.css}">

    <link rel="shortcut icon" th:href="@{/images/favicon.png}" />
</head>
