<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::project_sidebar"></div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h3 class="blog-title">dependencyService 添加</h3>
				<div th:fragment="dependencyServiceForm">

					<form id="dependencyServiceForm"  class="form-horizontal"  th:action="@{/dependencyService/save}" th:method="post"
						  th:object="${obj}">
						<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
							               <div class='form-group col-lg-12'> 
						<label for='aid' class='col-sm-2 control-label'>aid</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='aid' id='aid' th:value='${obj.aid}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceTypea' class='col-sm-2 control-label'>serviceTypea</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceTypea' id='serviceTypea' th:value='${obj.serviceTypea}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subProjectSna' class='col-sm-2 control-label'>subProjectSna</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subProjectSna' id='subProjectSna' th:value='${obj.subProjectSna}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subServiceSna' class='col-sm-2 control-label'>subServiceSna</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subServiceSna' id='subServiceSna' th:value='${obj.subServiceSna}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='namea' class='col-sm-2 control-label'>namea</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='namea' id='namea' th:value='${obj.namea}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='bid' class='col-sm-2 control-label'>bid</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='bid' id='bid' th:value='${obj.bid}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceTypeb' class='col-sm-2 control-label'>serviceTypeb</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceTypeb' id='serviceTypeb' th:value='${obj.serviceTypeb}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subProjectSnb' class='col-sm-2 control-label'>subProjectSnb</label>
						<div class='col-sm-10'>
							<select class="form-control" name='subProjectSnb' id='subProjectSnb' th:value='${obj.subProjectSnb}'>
							</select>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subServiceSnb' class='col-sm-2 control-label'>subServiceSnb</label>
						<div class='col-sm-10'>
							<select class="form-control" name='subServiceSnb' id='subServiceSnb' th:value='${obj.subServiceSnb}'>
							</select>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='nameb' class='col-sm-2 control-label'>nameb</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='nameb' id='nameb' th:value='${obj.nameb}'/>
						</div>
					</div>

						<div class="form-group">
							<div class="col-sm-offset-10 col-sm-2">

								<input type="submit" class="btn btn-success" value="保存"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/dependencyService.js"></script>
<script th:inline="javascript">
	findSubProjectList('#subProjectSnb');
	$("#subProjectSnb").change(function() {
		var selectedValue = $(this).val();
		findSubService(selectedValue,'subServiceSnb');
	});
</script>


</html>