<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>

	<input type="hidden" id="currentObjId" th:value="${id}" />



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::project_sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 form-horizontal">
				<h2 class="blog-post-title">dependencyService show</h2>
				<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
					<hr />
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">aid</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='aid' th:text='${obj.aid}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">serviceTypea</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='serviceTypea' th:text='${obj.serviceTypea}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subProjectSna</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subProjectSna' th:text='${obj.subProjectSna}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subServiceSna</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subServiceSna' th:text='${obj.subServiceSna}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">namea</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='namea' th:text='${obj.namea}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">bid</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='bid' th:text='${obj.bid}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">serviceTypeb</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='serviceTypeb' th:text='${obj.serviceTypeb}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subProjectSnb</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subProjectSnb' th:text='${obj.subProjectSnb}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subServiceSnb</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subServiceSnb' th:text='${obj.subServiceSnb}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">nameb</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='nameb' th:text='${obj.nameb}'></p>
                    </div>
                </div>


				<div class="form-group">
					<div class="col-sm-offset-8 col-sm-4">
							<a type="button" class="btn btn-success" th:href="@{'/dependencyService/indexView'}">返回列表</a>
							<a type="button" class="btn btn-info" th:href="@{'/dependencyService/editView?id='+${id}}">编辑</a>

					</div>
				</div>

			</div>
		</div>
			<!-- row -->
	</div>
		<!-- container-fluid -->

</body>
<script type="text/javascript" src="/static/pms/js/dependencyService.js"></script>
<script th:inline="javascript">
</script>

</html>