<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::serviceAdmin_sidebar"></div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h3 class="blog-title">serviceAdmin 添加</h3>
				<div th:fragment="serviceAdminForm">

					<form id="serviceAdminForm"  class="form-horizontal"  th:action="@{/serviceAdmin/save}" th:method="post"
						  th:object="${obj}">
						<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
							               <div class='form-group col-lg-12'> 
						<label for='iocUrl' class='col-sm-2 control-label'>iocUrl</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='iocUrl' id='iocUrl' th:value='${obj.iocUrl}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceType' class='col-sm-2 control-label'>serviceType</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceType' id='serviceType' th:value='${obj.serviceType}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subProjectSn' class='col-sm-2 control-label'>subProjectSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subProjectSn' id='subProjectSn' th:value='${obj.subProjectSn}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subServiceSn' class='col-sm-2 control-label'>subServiceSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subServiceSn' id='subServiceSn' th:value='${obj.subServiceSn}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='name' class='col-sm-2 control-label'>name</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='name' id='name' th:value='${obj.name}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='detail' class='col-sm-2 control-label'>detail</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='detail' id='detail' th:value='${obj.detail}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceAdminUrl' class='col-sm-2 control-label'>serviceAdminUrl</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceAdminUrl' id='serviceAdminUrl' th:value='${obj.serviceAdminUrl}'/>
						</div>
					</div>

						<div class="form-group">
							<div class="col-sm-offset-10 col-sm-2">

								<input type="submit" class="btn btn-success" value="保存"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/serviceAdmin.js"></script>
<script th:inline="javascript">

</script>


</html>