<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body>

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::project_sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h3>subService 列表</h3>

				<div class="col-sm-12 col-lg-12" id="list">
					<table class="span12 table table-striped">
						<thead>


							<tr>
								<td>id</td>
								<td>subProjectSn</td>
								<td>clsType</td>
								<td>subType</td>
								<td>serviceSn</td>
								<td>serviceName</td>
								<td>serviceType</td>
								<td>language</td>
								<td>gitUrl</td>
								<td>defaultZone</td>
								<td>domainDev</td>
								<td>domainStg</td>
								<td>domainProd</td>


							</tr>
						</thead>
						<tbody id="tbodylist">

						</tbody>
					</table>
					<div class="page">
						<ul class="pagination"></ul>
					</div>
				</div>

				<nav>
					<ul class="pager">
						<li>
							<a th:href="@{/subService/addView}">新增</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>


	</div>
	<!-- /.container -->



</body>
<script type="text/javascript" src="/static/pms/bootstrap-paginator.js"></script>
<script type="text/javascript" src="/static/pms/js/subService.js"></script>
<script th:inline="javascript">
	$(document).ready(function() {

	})
	var currentPage = 1;
    var pageSize = 5;

	findPage();
</script>
</html>