<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container">
		<div class="blog-header">
			<h3 class="blog-title">subService 添加</h3>
		</div>

		<div class="row">

			<div th:fragment="subServiceForm">

				<form id="subServiceForm"  class="form-horizontal">
					<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
               <div class='form-group col-lg-12'> 
						<label for='subProjectId' class='col-sm-2 control-label'>subProjectId</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subProjectId' id='subProjectId' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='subProjectSn' class='col-sm-2 control-label'>subProjectSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='subProjectSn' id='subProjectSn' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceSn' class='col-sm-2 control-label'>serviceSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceSn' id='serviceSn' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceName' class='col-sm-2 control-label'>serviceName</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceName' id='serviceName' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceType' class='col-sm-2 control-label'>serviceType</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceType' id='serviceType' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='language' class='col-sm-2 control-label'>language</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='language' id='language' />
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceSubType' class='col-sm-2 control-label'>serviceSubType</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceSubType' id='serviceSubType' />
						</div>
					</div>

					<div class="form-group">
						<div class="col-sm-offset-10 col-sm-2">
							<input type="button" class="btn btn-success" value="保存" onclick='save()' />
						</div>
					</div>
				</form>




			</div>
			<!-- /.blog-main -->


		</div>
		<!-- /.row -->

	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/subService.js"></script>
<script th:inline="javascript">

</script>


</html>