<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::project_sidebar"></div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h3 class="blog-title">subService 添加</h3>
				<div th:fragment="subServiceForm">

					<form id="subServiceForm"  class="form-horizontal"  th:action="@{/subService/save}" th:method="post"
						  th:object="${obj}">
						<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
							               <div class='form-group col-lg-12'> 
						<label for='subProjectSn' class='col-sm-2 control-label'>subProjectSn</label>
						<div class='col-sm-10'>
							<select class="form-control" name='subProjectSn' id='subProjectSn' th:value='${obj.subProjectSn}'>
							</select>
						</div>
					</div>
						<div class='form-group col-lg-12'>
							<label for='clsType' class='col-sm-2 control-label'>clsType</label>
							<div class='col-sm-10'>

								<select class="form-control" name='clsType' id='clsType' th:value='${obj.clsType}'>
								</select>
							</div>
						</div>
						<div class='form-group col-lg-12'>
							<label for='subType' class='col-sm-2 control-label'>subType</label>
							<div class='col-sm-10'>

								<select class="form-control" name='subType' id='subType' th:value='${obj.subType}'>
								</select>
							</div>
						</div>
					<div class='form-group col-lg-12'>
						<label for='serviceSn' class='col-sm-2 control-label'>serviceSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceSn' id='serviceSn' th:value='${obj.serviceSn}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceName' class='col-sm-2 control-label'>serviceName</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='serviceName' id='serviceName' th:value='${obj.serviceName}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='serviceType' class='col-sm-2 control-label'>serviceType</label>
						<div class='col-sm-10'>
							<select class="form-control" id="serviceType" name="serviceType"  th:value='${obj.serviceType}'>
								<option>技术平台</option>
								<option>运维平台</option>
								<option>监控平台</option>
								<option>业务服务</option>
								<option>业务管理服务</option>
							</select>

						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='language' class='col-sm-2 control-label'>language</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='language' id='language' th:value='${obj.language}'/>
						</div>
					</div>

               <div class='form-group col-lg-12'> 
						<label for='gitUrl' class='col-sm-2 control-label'>gitUrl</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='gitUrl' id='gitUrl' th:value='${obj.gitUrl}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='defaultZone' class='col-sm-2 control-label'>defaultZone</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='defaultZone' id='defaultZone' th:value='${obj.defaultZone}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='domainDev' class='col-sm-2 control-label'>domainDev</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='domainDev' id='domainDev' th:value='${obj.domainDev}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='domainStg' class='col-sm-2 control-label'>domainStg</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='domainStg' id='domainStg' th:value='${obj.domainStg}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='domainProd' class='col-sm-2 control-label'>domainProd</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='domainProd' id='domainProd' th:value='${obj.domainProd}'/>
						</div>
					</div>

						<div class="form-group">
							<div class="col-sm-offset-10 col-sm-2">

								<input type="submit" class="btn btn-success" value="保存"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/subService.js"></script>
<script th:inline="javascript">
	findConfList('ptype','ptype','#clsType');
	findSubProjectList('#subProjectSn');

	$("#subProjectSn").change(function() {
		var selectedValue = $(this).val();
		$('#serviceSn').val(selectedValue);
	});
</script>


</html>