<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>

	<input type="hidden" id="currentObjId" th:value="${id}" />



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::project_sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 form-horizontal">
				<h2 class="blog-post-title">subService show</h2>
				<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
					<hr />
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">子系统编号</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subProjectSn' th:text='${obj.subProjectSn}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">clsType</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='clsType' th:text='${obj.clsType}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subType</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subType' th:text='${obj.subType}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">serviceSn</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='serviceSn' th:text='${obj.serviceSn}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">serviceName</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='serviceName' th:text='${obj.serviceName}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">serviceType</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='serviceType' th:text='${obj.serviceType}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">language</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='language' th:text='${obj.language}'></p>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">gitUrl</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='gitUrl' th:text='${obj.gitUrl}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">defaultZone</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='defaultZone' th:text='${obj.defaultZone}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">domainDev</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='domainDev' th:text='${obj.domainDev}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">domainStg</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='domainStg' th:text='${obj.domainStg}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">domainProd</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='domainProd' th:text='${obj.domainProd}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">actuatorMappingUrl</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='actuatorMappingUrl' th:text='${obj.actuatorMappingUrl}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">eureka地址</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='eurekaUrl' th:text='${obj.eurekaUrl}'></p>
                    </div>
                </div>

			</div>
				<!-- blog-post -->
			<div class="form-group">
				<div class="col-sm-offset-8 col-sm-4" id = 'opsdiv'>
                    <a type="button" class="btn btn-success" th:href="@{'/subService/indexView'}">返回列表</a>
                    <a type="button" class="btn btn-info" th:href="@{'/subService/editView?id='+${id}}">编辑</a>
                    <a type="button" class="btn btn-info"   th:if="${obj.subType == 'biz'}"  th:attr="onclick='saveActuatorMapping(' + ${id} + ')'">获取mapping</a>
                    <a type="button" class="btn btn-info"   th:if="${obj.subType == 'eureka'}"  th:attr="onclick='checkEureka(' + ${id} + ')'">获取eureka</a>

				</div>
			</div>
		</div>
			<!-- row -->
	</div>
		<!-- container-fluid -->

</body>
<script type="text/javascript" src="/static/pms/js/subService.js"></script>
<script th:inline="javascript">

</script>

</html>