<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>

	<input type="hidden" id="currentObjId" th:value="${id}" />



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::deviceCenter_sidebar"></div>
			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 form-horizontal">
				<h2 class="blog-post-title">subProject show</h2>
				<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
					<hr />
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">clsType</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='clsType' th:text='${obj.clsType}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">subType</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='subType' th:text='${obj.subType}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">sn</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='sn' th:text='${obj.sn}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">nameEn</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='nameEn' th:text='${obj.nameEn}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">name</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='name' th:text='${obj.name}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">detail</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='detail' th:text='${obj.detail}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">businessOwner</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='businessOwner' th:text='${obj.businessOwner}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">technologyOwner</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='technologyOwner' th:text='${obj.technologyOwner}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">level</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='level' th:text='${obj.level}'></p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-4 col-sm-2 control-label">gitUrl</label>
                    <div class="col-xs-8 col-sm-10">
                        <p class="form-control-static" id='gitUrl' th:text='${obj.gitUrl}'></p>
                    </div>
                </div>

			</div>
				<!-- blog-post -->
			<div class="form-group">
				<div class="col-sm-offset-8 col-sm-4">
						<a type="button" class="btn btn-success" th:href="@{'/subProject/indexView'}">返回列表</a>
						<a type="button" class="btn btn-info" th:href="@{'/subProject/editView?id='+${id}}">编辑</a>

				</div>
			</div>
		</div>
			<!-- row -->
	</div>
		<!-- container-fluid -->

</body>
<script type="text/javascript" src="/static/pms/js/subProject.js"></script>
<script th:inline="javascript">
</script>

</html>