<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="layout::head">

</head>

<body role="document">

	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" th:include="layout::header"></nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 col-md-2 sidebar"
				 th:include="layout::softwareAsset_sidebar"></div>

			<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
				<h3 class="blog-title">softwareAsset 添加</h3>
				<div th:fragment="softwareAssetForm">

					<form id="softwareAssetForm"  class="form-horizontal"  th:action="@{/softwareAsset/save}" th:method="post"
						  th:object="${obj}">
						<input type="hidden" class="form-control" name="id" id="id" th:value="${id}" />
							               <div class='form-group col-lg-12'> 
						<label for='assetType' class='col-sm-2 control-label'>assetType</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='assetType' id='assetType' th:value='${obj.assetType}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='assetName' class='col-sm-2 control-label'>assetName</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='assetName' id='assetName' th:value='${obj.assetName}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='projectSn' class='col-sm-2 control-label'>projectSn</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='projectSn' id='projectSn' th:value='${obj.projectSn}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='um' class='col-sm-2 control-label'>um</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='um' id='um' th:value='${obj.um}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='startDate' class='col-sm-2 control-label'>startDate</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='startDate' id='startDate' th:value='${obj.startDate}'/>
						</div>
					</div>
               <div class='form-group col-lg-12'> 
						<label for='endDate' class='col-sm-2 control-label'>endDate</label>
						<div class='col-sm-10'>
							<input type='text' class='form-control' name='endDate' id='endDate' th:value='${obj.endDate}'/>
						</div>
					</div>

						<div class="form-group">
							<div class="col-sm-offset-10 col-sm-2">

								<input type="submit" class="btn btn-success" value="保存"/>
							</div>
						</div>
					</form>
				</div>
			</div>
			<!-- /.blog-main -->
		</div>
		<!-- /.row -->
	</div>
	<!-- /.container -->

</body>
<script type="text/javascript" src="/static/pms/js/softwareAsset.js"></script>
<script th:inline="javascript">

</script>


</html>