<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">默认标题</title>
    <link th:href="@{/assets/bootstrap5/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/sidebars/sidebars.css}" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon"  th:href="@{/assets/bootstrap5/favicon.png}"  />

</head>
<body>
<!-- 插入公共导航栏 -->


<div class="container-fluid">
    <div class="row">

        <nav class="col-3" th:replace="~{layout/nav :: sidears}">
        </nav>
        <!-- 主内容区域 -->
    <!--    <main class="content">-->
        <main class="col-8">
            <div class="" th:replace="~{layout/nav :: header}"></div>
            <div class="content" layout:fragment="content">
                <h1>默认内容</h1>
            </div>



        </main>
        <footer class="" th:replace="~{layout/nav :: footer}" >

        </footer>
    </div>
</div>

<!-- 公共页脚 -->


<script th:src="@{/assets/bootstrap5/js/bootstrap.bundle.min.js}"></script>

<script>

</script>

</body>
</html>